<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.BorrowMapper">
    <select id="getBorrow" resultType="com.test.entity.Borrow">
        SELECT * FROM borrow_info
        <where>
            <if test="uid != null"> uid = #{uid}</if>
            <if test="bid != null"> and bid = #{bid}</if>
        </where>
    </select>
</mapper>